<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
            </li>
			
			<li class="nav-item">
                <a class="nav-link" ui-sref="app.test({judul:'adsasd'})"><i class="icon-grid"></i> test </a>
            </li>
			<li class="nav-item">
                <a class="nav-link" ui-sref="app.kandang"><i class="icon-grid"></i> Kandang </a>
            </li>
			
			
			<li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-book-open"></i> Task</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" ui-sref="app.jenisAyamInfo"><i class="icon-calculator"></i> balance</a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" ui-sref="app.logHarian"><i class="icon-list"></i> Log Harian</a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" ui-sref="app.jenisAyamInfo"><i class="icon-list"></i> Log vaksin</a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" ui-sref="app.jenisAyamInfo"><i class="icon-list"></i> Log pengobatan</a>
              </li>
            </ul>
			</li>
			
			<!--set info-->
			<li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-settings"></i> Setting</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" ui-sref="app.jenisAyamInfo"><i class="icon-arrow-right-circle"></i> Jenis Ayam</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="app.vaksinInfo"><i class="icon-arrow-right-circle"></i> vaksin</a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" ui-sref="app.pakanInfo"><i class="icon-arrow-right-circle"></i> pakan</a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" ui-sref="app.obatInfo"><i class="icon-arrow-right-circle"></i> Obat</a>
              </li>
            </ul>
			</li>

        </ul>
    </nav>
</div>
